@import 'Base/variables';
@import 'Blocks/menu';
@import 'Blocks/fscreen';
@import 'Blocks/information';
@import 'Blocks/services';
@import 'Blocks/price';
@import 'Blocks/faq';
@import 'Blocks/examples';
@import 'Blocks/esect';
@import 'Blocks/owl';
@import 'Blocks/accordion';
@import 'Blocks/modal';
@import 'Blocks/pageup';
@import 'Blocks/smallMenu';
@import 'Blocks/contact';

* {
  font-family: 'Roboto', sans-serif;
  color: $DarkColor;
}

h1,
h2,
h3 {
  font-family: 'Cormorant', serif;
}

body {
  background-color: $DarkColor;
  margin: 0;
}

.b {
  &_active {
    overflow-y: hidden;
  }
}

hr {
  width: 100%;
  border: none;
  border-top: 3px dashed #f1f1f1;
}

a{
    font-family: 'Cormorant', serif;
    text-transform: uppercase;
    text-decoration: none;
    &:hover{
        cursor: pointer;
        color: $LinkColor;
    }
}

.container {
  max-width: 934px;
  margin: 0 auto;
}
