.Examples {
  padding: 30px 0 60px 0;
  &__title {
    margin-top: 0;
    color: $MainTextColor;
    font-style: normal;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    text-transform: uppercase;
  }
  &__subtitle {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    &_name {
      margin-left: 10px;
      text-transform: uppercase;
    }
  }
  &__grid{
      display: grid;
      grid-template-columns: repeat(4, minmax(125px, 125px));
      grid-template-rows: repeat(1, minmax(125px, 125px));
      gap: 50px;
  }
  &__image{
      border-radius: 20px;
      background-color: $DarkColor;
      padding: 2px;
      opacity: 0.5;
      transition: 0.3s all;
      &:hover{
          opacity: 1;
          box-shadow: 0 0 10px rgba($DarkColor,0.75);
          background-color: $LightColor;
      }
  }
  &__block {
    display: flex;
    flex-direction: column;
    margin: 20px;
    overflow: hidden;
    &_text {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 30px;
        line-height: 60px;
        display: flex;
        align-items: flex-end;
    }
  }
  &__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__item {
    display: block;
    width: 90px;
    height: 230px;
    background-color: $MainColor;
    border-radius: 20px;
  }
  &__packet {
    font-size: 30px;
    line-height: 36px;
  }
  &_active {
    transition: 0.3s all;
    .Examples__subtitle_name{
        display: none;
    }
    .Examples__block {
      display: flex;
    }
    width: 690px;
  }
  &_passive {
    transition: 0.3s all;
    &:hover{
        cursor: pointer;
        .Examples__subtitle_name {
            transition: 0.3s all;
            color: $LinkColor;
          }
    }
    .Examples__block {
      display: none;
    }
    .Examples__subtitle {
      margin-top: 160px;
      flex-direction: row;
      transform: rotateZ(270deg);
      white-space: nowrap;
    }
  }
}
