.FScreen {
  position: relative;
  padding: 54px 0 25px 0;
  &__container{
      min-height: 800px;
      height: 100vh;
  }
  &__image {
    top: 0;
    width: 600px;
    height: 550px;
    margin: auto;
    background: url('../images/FScreenImg.png') center center/cover no-repeat;
    animation: earth 150s linear infinite;
  }
  &__helpMessage {
    position: absolute;
    top: -15px;
    left: -90px;
  }
  &__sputnikUp {
    position: absolute;
    left: 200px;
    top: 10px;
    transition: 0.3s all;
    &:hover {
      transform: rotateZ(5deg);
      .FScreen__sputnikUp_faq {
        display: block;
        animation: vis 0.5s ease;
      }
    }
    &_faq {
      display: none;
      position: absolute;
      left: -90px;
      top: 20px;
      transition: 0.3s all;
      &:hover {
        cursor: pointer;
      }
    }
  }
  &__sputnikDown {
    position: absolute;
    right: 230px;
    bottom: 95px;
    transition: 0.3s all;
    &:hover {
      transform: rotateZ(-5deg);
      .FScreen__sputnikDown_price {
        display: block;
        animation: vis 0.5s ease;
      }
    }
    &_price {
      display: none;
      position: absolute;
      right: 45px;
      bottom: -60px;
      transition: 0.3s all;
      &:hover {
        cursor: pointer;
      }
    }
  }
  &__button {
    width: 240px;
    height: 50px;
    font-family: Cormorant;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    align-items: center;
    text-align: center;
    color: #000f34;
    border: none;
    border-radius: 10px;
    background-color: $MainColor;
    transition: 0.3s all;
    box-shadow: inset -5px 5px 5px rgba($color: $LightColor, $alpha: 0.75);
    &:hover {
      background-color: $LightColor;
      color: $LinkColor;
      cursor: pointer;
      box-shadow: inset -1px 1px 5px rgba($color: #000000, $alpha: 0);
    }
  }
}

@keyframes vis {
    0%{opacity: 0;}
    95%{opacity: 1;}
}
@keyframes earth{
    0%{transform: rotateZ(0deg);}
    50%{transform: rotateZ(45deg);}
    100%{transform: rotateZ(0deg);}
}