.Menu {
    &__container {
        width: 100%;
        position: relative;
        background-color: $MainColor;
    }

    &__wrapper {
        height: 70px;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    &__nav {
        display: flex;
        width: 534px;
        height: 60px;
        margin-left: 153px;
        justify-content: space-between;
        align-items: center;
        background-color: $LightColor;
        box-shadow: inset 0px 1px 7px rgba($color: #000000, $alpha: 0.25);
        z-index: 1;
    }

    &__item {
        width: 110px;
        height: 60px;
        margin: 0 10px 0 10px;
        font-family: 'Cormorant', serif;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 60px;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        transition: 0.3s all;

        &_long {
            width: 140px;
        }

        &:hover {
            color: $LinkColor;
            cursor: pointer;
        }
    }

    &__logo {
        margin-left: 20px;

        &:hover {
            cursor: pointer;
        }
    }

    &__contact {
        margin-left: 15px;

        &:hover {
            cursor: pointer;
        }
    }

    &__author {
        display: block;
        margin-left: 48px;
        font-family: 'Italiana', serif;
        text-transform: uppercase;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 42px;
        align-items: center;
        text-align: center;
        transition: 0.3s all;

        &:hover {
            color: $LinkColor;
            cursor: default;
            .Menu__information{
                display: block;
                animation: vis 0.7s ease;
            }
        }
    }
    &__information{
        display: none;
        position: absolute;
        right: 0;
        top: 70px;
        max-width: 535px;
        height: 600px;
        background-color: $MainColor;
        box-shadow: inset 0 2px 10px rgba($color: #000000, $alpha: 0.25);
        z-index: 5;
        transition: 0.3s all;
        &:hover{
            display: block;
        }
    }
    &__photo{
        max-width: 50%;
        float: left;
        margin: 5px;
    }
    &__description{
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        line-height: 20px;
        text-transform: none;

    }
    &__dec-delimiter {
        position: absolute;
        left: 0;
        top: 60px;
        width: 100%;
        height: 5px;
        background-color: $LightColor;
        box-shadow: inset 0px 1px 4px rgba($color: #000000, $alpha: 0.25);
    }
}

@keyframes vis {
    0%{opacity: 0;}
    95%{opacity: 1;}
}