.Price {
  padding: 30px 0 60px 0;
  &__title {
    margin-top: 0;
    color: $MainTextColor;
    font-style: normal;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    text-transform: uppercase;
  }
  &__subtitle {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    text-transform: uppercase;
  }
  &__descr {
    display: block;
    margin: 20px 0 0 20px;
    padding: 10px;
    width: 630px;
    height: 540px;
    background-color: $LightColor;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: $MainTextColor;
    box-shadow: inset 0 2px 4px rgba($color: #000000, $alpha: 0.5);
    &_text {
      margin: 0;
      font-size: 16px;
      line-height: 22px;
    }
  }
  &__descrTitle {
    font-family: Roboto;
    font-weight: bold;
    text-align: center;
  }
  &__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__item {
    display: block;
    width: 70px;
    height: 650px;
    background-color: $MainColor;
    border-radius: 20px;
    overflow: hidden;
  }
  &__packet {
    font-size: 30px;
    line-height: 36px;
  }
  &_active {
    transition: 0.3s all;
    width: 690px;
  }
  &_passive {
    transition: 0.3s all;
    &:hover{
    cursor: pointer;
    .Price__subtitle_name {
        transition: 0.3s all;
        color: $LinkColor;
      }
    }
    .Price__subtitle {
      transform: rotateZ(270deg);
      margin: 0;
      margin-top: 560px;
      white-space: nowrap;
    }
    .Price__descr{
        display: none;
    }
  }
  &__table {
    display: grid;
    background-color: $MainColor;
    grid-template-columns: repeat(5, minmax(30px, auto));
    grid-template-rows: repeat(5, minmax(30px, auto));
    gap: 2px;
    &_data {
      background-color: $MainTextColor;
      text-align: center;
      color: $DarkColor;
      font-size: 14px;
      line-height: 17px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &_left {
      padding-left: 5px;
      justify-content: left;
    }
  }
}
